<%- include('header') -%>
<div class="p-4 rounded form-holder">
	<h1 class="display-4 text-center mb-5">Are you the murderer?</h1>
	<p class="form-feedback text-center" id="form-feedback"></p>
	<form id="user-form">
		<label for="inputUser" class="sr-only">Username</label>
		<input type="text" id="inputUser" class="form-control" placeholder="Username">
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password">
		<button class="btn btn-lg btn-primary btn-block mt-3" type="Submit">Reveal</submit>
	</form>
</div>
<script src="/app/reveal.js"></script>
<%- include('footer') -%>
